body{
    font-family: Arial;
    margin: 20px;
     background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

table{
    width:80%;
    border-collapse:collapse;
    margin-bottom:0px;
}

td,th{
    border:1px solid black;
    padding:10px;
    text-align:center;
}

a{
    text-decoration:none;
    font-weight:bold;
}

ul{
    display:inline-block;
    text-align:left;
}

/* Page colors */
table{
    background-color:rgba(255, 228, 225, 0.85);
}

.formtable{
    width:50%;
    margin:auto;
}

.link{
    text-align:center;
}
